# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables
.env
.env.*

# VS Code settings
.vscode/

# macOS system files
.DS_Store

# Log and debug files
*.log

# PyInstaller
dist/
build/
*.spec

# Test coverage
htmlcov/
.coverage
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# pyre
.pyre/

# Temporary or scratch directories
scratch*/
temp*/
tmp/
sandbox/
scratch*
temp*
dev*

# data
data/